{% extends "base.html" %}
{% block content %}
<h2>Add Airplane</h2>
<form method="POST">
    <input name="airline_id" placeholder="Airline ID"><br>
    <input name="tail_num" placeholder="Tail Number"><br>
    <input name="seat_cap" placeholder="Seat Capacity"><br>
    <input name="speed" placeholder="Speed"><br>
    <input name="location_id" placeholder="Location ID"><br>
    <input name="plane_type" placeholder="Plane Type"><br>
    <input name="maintained" placeholder="Maintained (0/1) (Boeing Only)"><br>
    <input name="model" placeholder="Model (Boeing Only)"><br>
    <input name="neo" placeholder="Neo (0/1) (Airbus Only)"><br>
    <button type="submit">Add</button>
</form>
{% endblock %}