{% extends "base.html" %}
{% block content %}
<h2>Add Person</h2>
<form method="POST">
    <input name="person_id" placeholder="Person ID"><br>
    <input name="first_name" placeholder="First Name"><br>
    <input name="last_name" placeholder="Last Name"><br>
    <input name="location_id" placeholder="Location ID"><br>
    <input name="tax_id" placeholder="Tax ID (pilot)"><br>
    <input name="experience" placeholder="Experience (pilot)"><br>
    <input name="miles" placeholder="Miles (passenger)"><br>
    <input name="funds" placeholder="Funds (passenger)"><br>
    <button type="submit">Add</button>
</form>
{% endblock %}